<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="order_uuid" property="orderUuid" jdbcType="VARCHAR" />
    <result column="goods_uuid" property="goodsUuid" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pictures" property="pictures" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="reply" property="reply" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="is_reply" property="isReply" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, order_uuid, goods_uuid, content, pictures, create_time, reply, is_delete, 
    is_reply
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="findAllComment" resultType="com.phonecard.bean.Comment">
      select * from comment
    </select>
  <select id="getCommentList" resultType="map">
    SELECT c.id,c.`create_time`,c.`content`,c.`pictures`,g.`goods_name`,os.`one_sort_name`,ub.`nick_name`,ub.`icon` FROM `comment` c
    LEFT JOIN user_base ub ON c.`open_id` = ub.`open_id`
    LEFT JOIN goods g ON c.`goods_uuid` = g.`uuid`
    LEFT JOIN one_sort os ON g.`one_sort_id` = os.`id`
    WHERE 1 = 1
    <if test="nickname != null" >
      and  ub.`nick_name` = #{nickname}
    </if>
    and  c.`is_delete` = 0
  </select>
  <select id="getCountCommentSum" resultType="java.lang.Integer">
     select
    count(1)
    from `comment`
    where is_delete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.Comment" >
    insert into comment (id, open_id, order_uuid, 
      goods_uuid, content, pictures, 
      create_time, reply, is_delete, 
      is_reply)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{orderUuid,jdbcType=VARCHAR}, 
      #{goodsUuid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{reply,jdbcType=VARCHAR}, #{isDelete,jdbcType=SMALLINT}, 
      #{isReply,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="orderUuid != null" >
        order_uuid,
      </if>
      <if test="goodsUuid != null" >
        goods_uuid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pictures != null" >
        pictures,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reply != null" >
        reply,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isReply != null" >
        is_reply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderUuid != null" >
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsUuid != null" >
        #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reply != null" >
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isReply != null" >
        #{isReply,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.Comment" >
    update comment
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderUuid != null" >
        order_uuid = #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsUuid != null" >
        goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reply != null" >
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isReply != null" >
        is_reply = #{isReply,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.Comment" >
    update comment
    set open_id = #{openId,jdbcType=VARCHAR},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      reply = #{reply,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      is_reply = #{isReply,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>