<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_account" property="companyAccount" jdbcType="VARCHAR" />
    <result column="company_password" property="companyPassword" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_create_time" property="companyCreateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_account, company_password, company_name, company_create_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.Company" >
    insert into company (id, company_account, company_password, 
      company_name, company_create_time, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{companyAccount,jdbcType=VARCHAR}, #{companyPassword,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{companyCreateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyAccount != null" >
        company_account,
      </if>
      <if test="companyPassword != null" >
        company_password,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyCreateTime != null" >
        company_create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyAccount != null" >
        #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyPassword != null" >
        #{companyPassword,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCreateTime != null" >
        #{companyCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.Company" >
    update company
    <set >
      <if test="companyAccount != null" >
        company_account = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyPassword != null" >
        company_password = #{companyPassword,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCreateTime != null" >
        company_create_time = #{companyCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.Company" >
    update company
    set company_account = #{companyAccount,jdbcType=VARCHAR},
      company_password = #{companyPassword,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_create_time = #{companyCreateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>