<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="one_sort_id" property="oneSortId" jdbcType="INTEGER" />
    <result column="show_count" property="showCount" jdbcType="INTEGER" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="pictures" property="pictures" jdbcType="VARCHAR" />
    <result column="goods_create_time" property="goodsCreateTime" jdbcType="TIMESTAMP" />
    <result column="goods_update_time" property="goodsUpdateTime" jdbcType="TIMESTAMP" />
    <result column="is_shelf" property="isShelf" jdbcType="SMALLINT" />
    <result column="pick_up" property="pickUp" jdbcType="SMALLINT" />
    <result column="goods_type" property="goodsType" jdbcType="SMALLINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.phonecard.bean.Goods" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, goods_name, one_sort_id, show_count, thumb, pictures, goods_create_time, 
    goods_update_time, is_shelf, pick_up, goods_type, sort, details, is_delete
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.Goods" >
    insert into goods (id, uuid, goods_name, 
      one_sort_id, show_count, thumb, 
      pictures, goods_create_time, goods_update_time, 
      is_shelf, pick_up, goods_type, 
      sort, details, is_delete, 
      introduction)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{oneSortId,jdbcType=INTEGER}, #{showCount,jdbcType=INTEGER}, #{thumb,jdbcType=VARCHAR}, 
      #{pictures,jdbcType=VARCHAR}, #{goodsCreateTime,jdbcType=TIMESTAMP}, #{goodsUpdateTime,jdbcType=TIMESTAMP}, 
      #{isShelf,jdbcType=SMALLINT}, #{pickUp,jdbcType=SMALLINT}, #{goodsType,jdbcType=SMALLINT}, 
      #{sort,jdbcType=INTEGER}, #{details,jdbcType=VARCHAR}, #{isDelete,jdbcType=SMALLINT}, 
      #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="oneSortId != null" >
        one_sort_id,
      </if>
      <if test="showCount != null" >
        show_count,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="pictures != null" >
        pictures,
      </if>
      <if test="goodsCreateTime != null" >
        goods_create_time,
      </if>
      <if test="goodsUpdateTime != null" >
        goods_update_time,
      </if>
      <if test="isShelf != null" >
        is_shelf,
      </if>
      <if test="pickUp != null" >
        pick_up,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="oneSortId != null" >
        #{oneSortId,jdbcType=INTEGER},
      </if>
      <if test="showCount != null" >
        #{showCount,jdbcType=INTEGER},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreateTime != null" >
        #{goodsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsUpdateTime != null" >
        #{goodsUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShelf != null" >
        #{isShelf,jdbcType=SMALLINT},
      </if>
      <if test="pickUp != null" >
        #{pickUp,jdbcType=SMALLINT},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=SMALLINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.Goods" >
    update goods
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="oneSortId != null" >
        one_sort_id = #{oneSortId,jdbcType=INTEGER},
      </if>
      <if test="showCount != null" >
        show_count = #{showCount,jdbcType=INTEGER},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreateTime != null" >
        goods_create_time = #{goodsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsUpdateTime != null" >
        goods_update_time = #{goodsUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShelf != null" >
        is_shelf = #{isShelf,jdbcType=SMALLINT},
      </if>
      <if test="pickUp != null" >
        pick_up = #{pickUp,jdbcType=SMALLINT},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=SMALLINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.phonecard.bean.Goods" >
    update goods
    set uuid = #{uuid,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      one_sort_id = #{oneSortId,jdbcType=INTEGER},
      show_count = #{showCount,jdbcType=INTEGER},
      thumb = #{thumb,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      goods_create_time = #{goodsCreateTime,jdbcType=TIMESTAMP},
      goods_update_time = #{goodsUpdateTime,jdbcType=TIMESTAMP},
      is_shelf = #{isShelf,jdbcType=SMALLINT},
      pick_up = #{pickUp,jdbcType=SMALLINT},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      sort = #{sort,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.Goods" >
    update goods
    set uuid = #{uuid,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      one_sort_id = #{oneSortId,jdbcType=INTEGER},
      show_count = #{showCount,jdbcType=INTEGER},
      thumb = #{thumb,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      goods_create_time = #{goodsCreateTime,jdbcType=TIMESTAMP},
      goods_update_time = #{goodsUpdateTime,jdbcType=TIMESTAMP},
      is_shelf = #{isShelf,jdbcType=SMALLINT},
      pick_up = #{pickUp,jdbcType=SMALLINT},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      sort = #{sort,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>