<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.RecordRefundMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.RecordRefund" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="order_uuid" property="orderUuid" jdbcType="VARCHAR" />
    <result column="out_refund_no" property="outRefundNo" jdbcType="VARCHAR" />
    <result column="refund_fee" property="refundFee" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_success" property="isSuccess" jdbcType="INTEGER" />
    <result column="is_deposit" property="isDeposit" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, order_uuid, out_refund_no, refund_fee, create_time, is_success, is_deposit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record_refund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record_refund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.RecordRefund" >
    insert into record_refund (id, type, order_uuid, 
      out_refund_no, refund_fee, create_time, 
      is_success, is_deposit)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{orderUuid,jdbcType=VARCHAR}, 
      #{outRefundNo,jdbcType=VARCHAR}, #{refundFee,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isSuccess,jdbcType=INTEGER}, #{isDeposit,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.RecordRefund" >
    insert into record_refund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderUuid != null" >
        order_uuid,
      </if>
      <if test="outRefundNo != null" >
        out_refund_no,
      </if>
      <if test="refundFee != null" >
        refund_fee,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="isDeposit != null" >
        is_deposit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderUuid != null" >
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=INTEGER},
      </if>
      <if test="isDeposit != null" >
        #{isDeposit,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.RecordRefund" >
    update record_refund
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderUuid != null" >
        order_uuid = #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        out_refund_no = #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        refund_fee = #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=INTEGER},
      </if>
      <if test="isDeposit != null" >
        is_deposit = #{isDeposit,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.RecordRefund" >
    update record_refund
    set type = #{type,jdbcType=INTEGER},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      out_refund_no = #{outRefundNo,jdbcType=VARCHAR},
      refund_fee = #{refundFee,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_success = #{isSuccess,jdbcType=INTEGER},
      is_deposit = #{isDeposit,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>