<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.RelationGoodsAddressMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.RelationGoodsAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_uuid" property="goodsUuid" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="address_self_id" property="addressSelfId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_uuid, city_id, address_self_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from relation_goods_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from relation_goods_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.RelationGoodsAddress" >
    insert into relation_goods_address (id, goods_uuid, city_id, 
      address_self_id, is_delete)
    values (#{id,jdbcType=INTEGER}, #{goodsUuid,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, 
      #{addressSelfId,jdbcType=INTEGER}, #{isDelete,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.RelationGoodsAddress" >
    insert into relation_goods_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsUuid != null" >
        goods_uuid,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="addressSelfId != null" >
        address_self_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsUuid != null" >
        #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="addressSelfId != null" >
        #{addressSelfId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.RelationGoodsAddress" >
    update relation_goods_address
    <set >
      <if test="goodsUuid != null" >
        goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="addressSelfId != null" >
        address_self_id = #{addressSelfId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.RelationGoodsAddress" >
    update relation_goods_address
    set goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      address_self_id = #{addressSelfId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>