<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.SkuMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.Sku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_uuid" property="goodsUuid" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="commission" property="commission" jdbcType="DOUBLE" />
    <result column="is_code" property="isCode" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="DOUBLE" />
    <result column="properties" property="properties" jdbcType="VARCHAR" />
    <result column="old_price" property="oldPrice" jdbcType="DOUBLE" />
    <result column="new_price" property="newPrice" jdbcType="DOUBLE" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="pick_up" property="pickUp" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_uuid, stock, commission, is_code, deposit, properties, old_price, new_price, 
    is_delete, pick_up
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.Sku" >
    insert into sku (id, goods_uuid, stock, 
      commission, is_code, deposit, 
      properties, old_price, new_price, 
      is_delete, pick_up)
    values (#{id,jdbcType=INTEGER}, #{goodsUuid,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{commission,jdbcType=DOUBLE}, #{isCode,jdbcType=VARCHAR}, #{deposit,jdbcType=DOUBLE}, 
      #{properties,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{newPrice,jdbcType=DOUBLE}, 
      #{isDelete,jdbcType=SMALLINT}, #{pickUp,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.Sku" >
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsUuid != null" >
        goods_uuid,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="commission != null" >
        commission,
      </if>
      <if test="isCode != null" >
        is_code,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="properties != null" >
        properties,
      </if>
      <if test="oldPrice != null" >
        old_price,
      </if>
      <if test="newPrice != null" >
        new_price,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="pickUp != null" >
        pick_up,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsUuid != null" >
        #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="commission != null" >
        #{commission,jdbcType=DOUBLE},
      </if>
      <if test="isCode != null" >
        #{isCode,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="newPrice != null" >
        #{newPrice,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="pickUp != null" >
        #{pickUp,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.Sku" >
    update sku
    <set >
      <if test="goodsUuid != null" >
        goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="commission != null" >
        commission = #{commission,jdbcType=DOUBLE},
      </if>
      <if test="isCode != null" >
        is_code = #{isCode,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="newPrice != null" >
        new_price = #{newPrice,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="pickUp != null" >
        pick_up = #{pickUp,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.Sku" >
    update sku
    set goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DOUBLE},
      is_code = #{isCode,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=DOUBLE},
      properties = #{properties,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      new_price = #{newPrice,jdbcType=DOUBLE},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      pick_up = #{pickUp,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>