<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.StateMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.State" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="state_name" property="stateName" jdbcType="VARCHAR" />
    <result column="is_hot" property="isHot" jdbcType="SMALLINT" />
    <result column="state_sort" property="stateSort" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="is_recommend" property="isRecommend" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, state_name, is_hot, state_sort, is_delete, is_recommend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from state
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from state
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.State" >
    insert into state (id, state_name, is_hot, 
      state_sort, is_delete, is_recommend
      )
    values (#{id,jdbcType=INTEGER}, #{stateName,jdbcType=VARCHAR}, #{isHot,jdbcType=SMALLINT}, 
      #{stateSort,jdbcType=VARCHAR}, #{isDelete,jdbcType=SMALLINT}, #{isRecommend,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.State" >
    insert into state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stateName != null" >
        state_name,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="stateSort != null" >
        state_sort,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stateName != null" >
        #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=SMALLINT},
      </if>
      <if test="stateSort != null" >
        #{stateSort,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.State" >
    update state
    <set >
      <if test="stateName != null" >
        state_name = #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=SMALLINT},
      </if>
      <if test="stateSort != null" >
        state_sort = #{stateSort,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.State" >
    update state
    set state_name = #{stateName,jdbcType=VARCHAR},
      is_hot = #{isHot,jdbcType=SMALLINT},
      state_sort = #{stateSort,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      is_recommend = #{isRecommend,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>