<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phonecard.dao.UserBaseMapper" >
  <resultMap id="BaseResultMap" type="com.phonecard.bean.UserBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="is_enable" property="isEnable" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
    <result column="consume_money" property="consumeMoney" jdbcType="DOUBLE" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="SMALLINT" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, nick_name, icon, name, phone, birth_date, is_enable, create_time, last_login, 
    consume_money, reserve, user_type, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_base
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phonecard.bean.UserBase" >
    insert into user_base (id, open_id, nick_name, 
      icon, name, phone, birth_date, 
      is_enable, create_time, last_login, 
      consume_money, reserve, user_type, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, #{birthDate,jdbcType=TIMESTAMP}, 
      #{isEnable,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP}, 
      #{consumeMoney,jdbcType=DOUBLE}, #{reserve,jdbcType=VARCHAR}, #{userType,jdbcType=SMALLINT}, 
      #{isDelete,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.phonecard.bean.UserBase" >
    insert into user_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
      <if test="consumeMoney != null" >
        consume_money,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phonecard.bean.UserBase" >
    update user_base
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        consume_money = #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phonecard.bean.UserBase" >
    update user_base
    set open_id = #{openId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      is_enable = #{isEnable,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      consume_money = #{consumeMoney,jdbcType=DOUBLE},
      reserve = #{reserve,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=SMALLINT},
      is_delete = #{isDelete,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>